@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1 style="font-family: Bree Serif;text-align:center">Corretora Invest</h1>
    <p class="lead" style="text-align:center">Faça seu cadastro agora mesmo para descobrir seu perfil de investidor e começar a investir</p>
    <p><a style="text-align: center; position: relative; left: 40%;" onclick="location.href='@Url.Action("Cadastro", "Home")'"  class="btn btn-primary btn-lg">Cadastrar &raquo;</a></p>
</div>
